:root {
  --main-header-font-size: 15px;
  --main-text-font-size: 16px;
  --main-title-font-size: 20px;
  --main-text-font-weight: 400;
  --main-title-font-weight: 700;
  --main-text-line-height: 24px;
  --main-text-color: #000;
  --main-footer-text-color: #fff;
  --main-link-background-color: #00bafc;
}