@use "../mixin";

.our-servic {
  padding: 56px 0;

  &__title-wrapper {
    width: 719px;
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 16px;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
  }
  &__desc {
    margin-top: 0;
    margin-bottom: 24px;
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }
  &__list {
    @include mixin.list-unstyled;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 48px;
  }
  &__item {
    width: 320px;
    padding: 24px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.10);
  }
  &__item-img {
    margin: 0 auto;
  }
  &__item-title {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }
  &__item-desc {
    margin-top: 0;
    margin-bottom: 0;
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }
  &__link-wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
  }
  &__link {
    color: #00bafc;
    font-size: 16px;
    line-height: 24px;
  }
}